<script type="text/ng-template" id="4937397e00a14368b5d5897e9722c71c.html">
	<div data-plugin-name="SimpleWf2LinkAdvancedConfiguration" class="arxpl-simplewf2linkadvancedconfiguration">		
		
		<div class="arxpl-simplewf2linkadvancedconfiguration-row">
			<label for="{{ctrl.model.inputTest.name}}">Input di test</label>			
			<input type="text" ng-model="ctrl.model.inputTest.value"  name="{{ctrl.model.inputTest.name}}" id="{{ctrl.model.inputTest.name}}"/>
		</div>		
		<div class="arxpl-simplewf2linkadvancedconfiguration-row">
			<a ng-click="ctrl.executeCommand()">Validazione input<i class="far fa-chevron-right"></i></a>
		</div>
	</div>
</script>
